<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.feeddemo.mapper.UserFeedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="UserFeed">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="feed_id" property="feedId"/>
        <result column="feed_user_id" property="feedUserId"/>
        <result column="feed_status" property="feedStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , user_id,,feed_id,feed_user_id,feed_status,createTime,updateTime
    </sql>

    <select id="getUserFeedByUserIdV1" resultType="userFeed">
        select * from user_feed where user_id=#{userId}
        <if test="userFeedId != null and userFeedId gt 0">
            and create_time <![CDATA[ < ]]> #{userFeedId}
        </if>
        order by create_time desc limit #{num}
    </select>
</mapper>
